* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    row-gap: 20px;
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header h1 {
    font-size: 32px;
}

.options {
    width: 100%;
}

.options button {
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 5px;
    border-radius: 4px;
    margin-bottom: 16px;
    background-color: lightblue;
    transition: all ease-in-out 0.3s;
}

.options button:hover {
    background-color: skyblue;
    transition: all ease-in-out 0.3s;
}